@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="row">
        <h1 class="text-danger">Error</h1>
        <h2 class="text-info">An error has occurred while processing this request.</h2>
    </div>
</body>
</html>
